{% extends 'lab/navbar.html' %}
{% load static %}


{% block content%}
<body>
    
    <div>
        <h1><center>Projects</center></h1>
    </div>

</h1>
<br>
<div>
    <div>
        <table class="table-responsive">

            <tr>
                <td>
                    <p style="color: black;"><b><a href="/project1"> Information Learning Atomic Interactions through Solvation
                    Free Energy Prediction Using Graph Neural Network.</a></b></p>
                    <p style="font-size: 14px;"><i>Journal of Chemical Information and Modeling, 2021</i></p>
                    <p style="font-size: 14px;"><i>Yashaswi Pathak, Sarvesh Mehta, U Deva Priyakumar.</i></p>
                </td>
            </tr>
            <tr>
                <td>
                    <hr>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="color: black;"><b>Computationally designed antibody-drug conjugates self-assembled via
                            affinity ligands.</b></p>
                    <p style="font-size: 14px;"><i>Nature Biomedical Engineering, 2019</i></p>
                    <p style="font-size: 14px;"><i>Gupta N, Ansari A, Dhoke GV, Chilamari M, Sivaccumar J, Kumari S,
                            Chatterjee S, Goyal R, Dutta PK, Samarla M, Mukherjee M, Sarkar A, Mandal SK, Rai V,
                            Biswas G, Sengupta A, Roy S, Roy M, Sengupta S.</i></p>
                </td>
                <td><a href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C22&q=Computationally+designed+antibody%E2%80%93drug+conjugates+self-assembled+via+affinity+ligands&btnG="
                        target="blank" style="color: dodgerblue;"><i class="ai ai-google-scholar-square ai-2x"
                            style="padding-right: 10px;"></i></a></td>
                <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/31686001" target="blank"
                        style="color: dodgerblue;"><i class="ai ai-pubmed-square ai-2x"
                            style="padding-right: 50px;"></i></a></td>
            </tr>
            <tr>
                <td>
                    <hr>
                </td>
            </tr>
           

        </table>
    </div>
</div>
<br>

</body>
{% endblock %}