{% extends 'lab/navbar.html' %}
{% load static %}

{% block content%}
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #000000;
            color: white;
        }

        hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
    </style>


    <body>
        <img src="{% static 'lab\images\team\grp (1).jpeg' %}" alt="Group Photo" width="110%">
        <section>
            <section class="team-page-section">
                <div class="container">
                    <div class="row clearfix">
                    </div>
                    <center>
                        <h1><b>PHD STUDENTS</b></h1>
                    </center>
                    <hr style="margin-left: 20px; margin-right: 20px;">
                    <br>
                    <div class="row clearfix">
                        

                        <div class="team-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <ul class="social-icons">
                                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>

                                </ul>
                                <div class="image">
                                    <img src="{% static 'lab/images/team/PhD/tanashree.jpg' %}" alt="" />
                                </div>
                                <div class="lower-content">
                                    <h3>Tanashree<br>Jaganade</h3>
                                    <div class="designation">PhD Student</div>
                                </div>
                            </div>
                        </div>

                        <div class="team-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <ul class="social-icons">
                                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <div class="image">
                                    <img src="{% static 'lab/images/team/PhD/shruti.jpg' %}" alt="" />
                                </div>
                                <div class="lower-content">
                                    <h3>Shruti<br>Jeurkar</h3>
                                    <div class="designation">PhD Student</div>
                                </div>
                            </div>
                        </div>

                        <div class="team-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>

                                </ul>
                                <div class="image">
                                    <img src="{% static 'lab/images/team/PhD/rohit.jpg' %}" alt="" />
                                </div>
                                <div class="lower-content">
                                    <h3>Rohit<br>Modee</h3>
                                    <div class="designation">PhD Student</div>
                                </div>
                            </div>
                        </div>

                        <div class="team-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <ul class="social-icons">
                                    <li><a href="linkedin.com/in/keren-jiang-b84a2a1a2" target="_blank"><i
                                                class="fab fa-linkedin-in"></i></a></li>

                                </ul>
                                <div class="image">
                                    <img src="{% static 'lab\images\team\PhD\pradeep.jpg' %}" alt="" />
                                </div>
                                <div class="lower-content">
                                    <h3>Pradeep<br>Kumar Pal</h3>
                                    <div class="designation">PhD Student</div>
                                </div>
                            </div>
                        </div>

                        


                    </div>

                    <div class="row clearfix">

                    </div>
                    <br>
                    <br>


                </div>
                </div>
                </div>

                <div class="container">
                    <div class="row clearfix">
                    </div>
                    <center>
                        <h1><b>MASTERS STUDENTS</b></h1>
                    </center>
                    <hr style="margin-left: 20px; margin-right: 20px;">
                    <br>
                    <div class="row clearfix">


                        <div class="team-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <ul class="social-icons">
                                    <li><a href="https://www.linkedin.com/in/ailiang-chen-93601555/" target="_blank"><i
                                                class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Chen%20A%5BAuthor%5D&cauthor=true&cauthor_uid=32101426"
                                            target="_blank"><i class="ai ai-pubmed"></i></a></li>
                                </ul>
                                <div class="image">
                                    <img src="{% static 'lab/images/team/PhD/akshaya.jpg' %}" alt="" />
                                </div>
                                <div class="lower-content">
                                    <h3>Akshaya<br>Karthikeyan</h3>
                                    <div class="designation"></div>
                                </div>
                            </div>
                        </div> 


                        <div class="team-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <ul class="social-icons">
                                    <li><a href="https://www.linkedin.com/in/ailiang-chen-93601555/" target="_blank"><i
                                                class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Chen%20A%5BAuthor%5D&cauthor=true&cauthor_uid=32101426"
                                            target="_blank"><i class="ai ai-pubmed"></i></a></li>
                                </ul>
                                <div class="image">
                                    <img src="{% static 'lab/images/team/PhD/manan.jpg' %}" alt="" />
                                </div>
                                <div class="lower-content">
                                    <h3>Manan<br>Goel</h3>
                                    <div class="designation"></div>
                                </div>
                            </div>
                        </div> 



                        <div class="team-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <ul class="social-icons">
                                    <li><a href="https://www.linkedin.com/in/ailiang-chen-93601555/" target="_blank"><i
                                                class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Chen%20A%5BAuthor%5D&cauthor=true&cauthor_uid=32101426"
                                            target="_blank"><i class="ai ai-pubmed"></i></a></li>
                                </ul>
                                <div class="image">
                                    <img src="{% static 'lab/images/team/PhD/sarvesh.jpg' %}" alt="" />
                                </div>
                                <div class="lower-content">
                                    <h3>Sarvesh<br>Mehta</h3>
                                    <div class="designation"></div>
                                </div>
                            </div>
                        </div> 


                        <div class="team-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <ul class="social-icons">
                                    <li><a href="https://www.linkedin.com/in/ailiang-chen-93601555/" target="_blank"><i
                                                class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Chen%20A%5BAuthor%5D&cauthor=true&cauthor_uid=32101426"
                                            target="_blank"><i class="ai ai-pubmed"></i></a></li>
                                </ul>
                                <div class="image">
                                    <img src="{% static 'lab/images/team/PhD/yashas.jpg' %}" alt="" />
                                </div>
                                <div class="lower-content">
                                    <h3>Yashas<br>Samaga B L</h3>
                                    <div class="designation"></div>
                                </div>
                            </div>
                        </div> 


                </div>
                </div>
                </div>
            </section>
        </section>
    </body>
    {% endblock %}