{% extends 'lab/navbar.html' %}
{% load static %}

{% block content%}
<body>

    <img src="{% static 'lab/images/research_photos/research.jpg' %}" alt="Group Photo" width=100%>
    <br><br>
    <h1>
        <center>RESEARCH</center>
    </h1>
    <p class="p_about"> At a
        fundamental level, we are
        currently working on eight different themes: systems biology; Nanosciences; 
        Theoretical chemistry; machine learning for science; computational biology; 
        computational material science; particle physics; and Bioinformatics
    </p>



    <br><br><br>



    <div class="l_col">
        <img src="{% static 'lab/images/research_photos/systembiology.jpg' %}" width=100%>
    </div>
    <div class="r_col">
        <p>
        <h2><b>Systems Biology</b></h2>
        <p class="pnew">
            A key challenge in modern biology is to understand how cellular behavior is controlled by an 
            integrated network (genetic, signalling, metabolic and microRNA). This requires
             construction/design of networks based on inferences from available data on multiple 
             properties and translating them into computational/mathematical models to study the dynamic 
             state of the cell. We explore the structure and dynamics of complex biological networks using 
             methods from systems biology, dynamical systems theory, and network theory to generate systems-level 
             understanding and novel hypothesis regarding cellular decision making. The focus areas include 
             regulation of cell growth, division, differentiation, and cell death. We also develop machine 
             learning models for integrating molecular (omics data) and phenotypic data with a focus on the 
             applications in medicine and drug discovery.
        </p>
        </p>
    </div>
    <div style="clear:both" />

    <br>
    <br>

    <div class="r_col">
        <img src="{% static 'lab/images//research_photos/nanoscience.jpg' %}" width=100%>
    </div>
    <div class="l_col">
        <p>
            <b>
                <h2>Nanoscience</h2>
            </b>
        <p class="pnew">
            Nanomaterials are at the forefront of the emerging science and technology.
             We synthesize novel inorganic nanomaterials of controlled compositions and 
             tunable conducting and magnetic properties and explore their applications 
             in catalysis, biosensors, and detection and destruction of microbes and 
             environmental pollutants.
        </p>
        </p>
    </div>
    <div style="clear:both" />
    <br>
    <br>

    <div class="l_col">
        <img src="{% static 'lab/images/research_photos/theochem.png' %}" width=100%>
    </div>

    <div class="r_col">
        <p>
        <h2><b>Theoretical Chemistry</b></h2>
        <p class="pnew">
            Theoretical chemistry combines mathematical and computational techniques with
            the fundamental laws of physics and chemistry to characterize the properties
            of chemical and biochemical systems. Our research covers a broad range of
            topics including noise-induced nonlinear processes, quantum control of dynamics
            of molecules and quantum chemical calculations of organic and biomolecules and
            nanosystems. we develop novel equilibrium and non-equilibrium methods and
            algorithms to compute thermodynamic and kinetic properties of these systems.
            The applications of quantum computing in electronic structure theory and of
            computational electrodynamics in biosensor development are also explored.  
        </p>
        </p>
    </div>


    <div style="clear:both" />
    <br><br>

    <div class="r_col">
        <img src="{% static 'lab/images/research_photos/ml4sci.jpg' %}" width=100%>
    </div>
    <div class="l_col">
        <p>
            <b>
                <h2>Machine Learning For Science.</h2>
            </b>
        <p class="pnew">
            Machine Learning methods have several prominent successes in various areas of
            scientific research in recent times, leading to an outlook that these methods
            will become significantly important research tools. During the past few years,
            artificial intelligence, sometimes referred to as the ‘fourth industrial revolution’
            has been enabling innovative applications in various areas of fundamental sciences
            such as drug design, material design, retrosynthetic pathway prediction, molecule
            characterization, etc. Our center has taken a major lead in this area with several
            publications and projects.  
        </p>

        </p>
    </div>
    <div style="clear:both" />


    <br>


    <div style="clear:both" />
    <br><br>

    <div class="l_col">
        <img src="{% static 'lab/images/research_photos/compbio.jpg' %}" width=100%>
    </div>
    <div class="r_col">
        <p>
            <b>
                <h2>Computational Biology.</h2>
            </b>
        <p class="pnew">
            Understanding the fundamental principles of biological systems at the
            systems level is one the main focuses of biology in the new era.
            Mathematical modeling and quantitative experimental techniques have
            fostered the investigation of such design principles. Our lab
            studies biological networks using combined theoretical and
            computational approaches in close collaboration with experiments,
            aiming to uncover underlying principles that govern their
            functioning and evolution. We apply techniques from physics
            and engineering ranging from dynamical systems, stochastic
            processes, information theory to explore different underlying
            features of biological networks such as robustness, optimality,
            adaptability etc.. Nowadays, due to availability of several genome
            scale high throughputs datasets, some of the predictions from theoretical
            models can be validated. We apply different machine learning techniques
            to analyze and integrate multiomics datasets. Furthermore, evolutionary
            algorithms are used to investigate in silico evolution of different
            biological networks. 
        </p>

        </p>
    </div>
    <div style="clear:both" />


    <br>

    <div class="r_col">
        <img src="{% static 'lab/images/research_photos/compmaterial.png' %}" width=100%>
    </div>
    <div class="l_col">
        <p>
            <b>
                <h2>
                    Computational Materials Science.</h2>
            </b>
        <p class="pnew">
            Computational materials science exploits the power of high-performance
            scientific computing to better understand the atomic-level inner-workings
            of materials and to design improved materials for future applications
            in energy, environment, and medicine. Our current research is
            focused on the design and characterization of materials used
            in polymer-based ultrathin solid batteries for lightweight
            electronic applications and of cost-effective, naturally
            occurring layered inorganic materials for leakage-proof
            storage of various environmental pollutants including toxic
            compounds, nuclear contaminants, and greenhouse gases. We also
            investigate how complex biomolecular machines made of proteins and
            nucleic acids drive complex life processes in living organisms.  
        </p>

        </p>
    </div>
    <div style="clear:both" />


    <br>

    <div class="l_col">
        <img src="{% static 'lab/images/research_photos/Particlephysics.jpg' %}" width=100%>
    </div>
    <div class="r_col">
        <p>
            <b>
                <h2>Particle Physics.</h2>
            </b>
        <p class="pnew">
        The elementary particles are the fundamental building blocks of matter
        that make up the universe. We investigate the nature of elementary particles
        and their interactions using the physics beyond the “Standard Model” and explore
        the theoretical basis for new discoveries made using high-energy particle
        accelerators, including the Large Hadron Collider (LHC). 
        </p>

        </p>
    </div>
    <div style="clear:both" />


    <br>

    <div class="r_col">
        <img src="{% static 'lab/images/research_photos/bioinformatics.jpg' %}" width=100%>
    </div>
    <div class="l_col">
        <p>
            <b>
                <h2>
                    Bioinformatics.</h2>
            </b>
        <p class="pnew">
            Next generation sequencing technology has revolutionized 
            biological research and there is need for developing tools
            and databases for the analysis of high-throughput data. We
            develop end-to-end solutions for sequence and structural variation
            analysis to investigate the role of genomic variants in cancer
            pathogenesis and in identifying diagnostic and prognostic biomarkers.
            We are also developing deep learning models for cancer classification
            and identifying biomarkers by integrating various omics and variation data,
            and in image analysis of chest X-rays and CT scans for detection of COVID-19.
            Graph theoretic approaches are now being successfully applied in understanding
            biological systems and in protein structure analysis and in understanding abiotic/biotic
            stress response in plants. Various web-based tools and databases have been developed in our group.   
        </p>

        </p>
    </div>
    <div style="clear:both" />


    <br>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" /></svg></div>

    <br><br><br>

    <div class="row">
    </div>

    <br><br>

 </body>
 {% endblock %}