{% extends 'lab/navbar.html' %}
{% load static %}

{% block content%}

<body>

    <h1 style="text-align: center;"><b>Shiladitya Sengupta, PhD</b></h1>
    <br>
    <center><img src="{% static 'lab/images/team/PI/Shiladit.jpg' %}" style="width: 20%; height: 20%;" /></center>
    <br>
    <p style="color: black; text-align: justify;padding-right: 10%; padding-left: 10%">
        Dr. Shiladitya Sengupta is an Associate Professor of Medicine at Harvard Medical School and
        Co-Director of the Center for Engineered Therapeutics at the Brigham and Women’s Hospital. He is
        a Principal Investigator at the Dana-Farber Cancer Institute and Harvard-MIT Division of Health
        Science and Technology. His laboratory focuses on using nano- and microscale technologies to
        study cancer biology, especially tumor-stroma interactions. He invented the first layer-by-layer
        nanoparticle and demonstrated its use in spatiotemporally targeting angiogenesis and cancer
        cells, which led to founding of Cerulean Pharmaceuticals (NASDAQ-CRLX).
    </p>
    <p style="color: black; text-align: justify;padding-right: 10%; padding-left: 10%">
        He co-founded multiple start-ups based on his inventions, including Farcast Biosciences, Vyome Biosciences, and
        Akamara Therapeutics Inc, and his start-ups have raised over $200M in venture/public funding and have drugs in
        clinical trials. Prof. Sengupta has published over 100 high impact papers, including in Nature, Nature
        Biomedical Engineering, Nature Nanotechnology, Nature Communication, ACS Nano and the PNAS; and is an inventor
        on over 350 pending/granted patents worldwide.
    </p>
    <p style="color: black; text-align: justify;padding-right: 10%; padding-left: 10%">
        Dr. Sengupta received his PhD in Pharmacology from the University of Cambridge, where he was a Nehru and British
        Chevening Scholar at Trinity College. He has received the TR35 Innovator award from MIT Technology Review
        Magazine, an honor given to the top 35 innovators worldwide by MIT Technology Review magazine, and is a
        recipient of the Era of Hope Scholar Award from the US Department of Defense, Coulter Foundation Career Award,
        and Young Scientist awards from the American Society for Pharmacology and Experimental Therapeutics.
    </p>


    <br><br>



</body>
{% endblock %}
